.carousel {
  padding: 4rem 2rem;
}

.carousel {
  margin-top: 20%;
  margin-bottom: 2rem;
}

.w-100 {
  width: 100%!important;
}
.d-block {
  display: block!important;
}

img {
  vertical-align: middle;
  border-style: none;
}
*, ::after, ::before {
  box-sizing: border-box;
}